@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400&family=Press+Start+2P&family=Quicksand:wght@300;400&display=swap');

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.page {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
}
/* @keyframes slideInOut {
    0% {
      transform: translateX(100%);
    }
    50% {
      transform: translateX(-100%);
      opacity: 0;
    }
    51% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
    }
  } */
  a {
    text-decoration: none !important;
  }

@media (max-width: 1440px) {
    .navbar {
        background-color: transparent;
        padding-left: 100px !important;
        padding-right: 100px !important;
        top: 0;
    }
    .logo {
        font-family: 'Quicksand';
        font-size: 24px;
    }
    .navLinks {
        display: flex;
        justify-content: flex-end;
    }
    .link {
        font-family: 'Quicksand';
        font-size: 15px;
        text-transform: capitalize;
    }
    .footer {
        background-color: #000;
        height: 90vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footerBox {
        width: 1000px;
    }
    .footerText {
        font-family: 'Inter';
        color: #fff;
        font-size: 50px;
        text-transform: capitalize;
    }
    .footerBoxedText {
        border: 1px solid #fff;
        border-radius: 25px;
        padding: 15px;
        color: #fff;
        font-family: 'Inter';
        font-size: 20px;
        width: max-content;
    }
    .footerBtn {
        background-image: url(/Users/bigsosa/Documents/portfolio1/front/src/Components/Images/btnBg.jpeg);
        width: 250px;
        border: 1px solid #fff !important;
        border-radius: 15px !important;
        font-family: 'Inter' !important;
        font-size: 32px !important;
    }
    .footerRow {
        display: flex;
        flex-direction: row;
        margin-left: 20px;
        margin-right: 20px;
    }
    .whiteLine {
        border-bottom: 1px solid #fff;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .blackLine {
        border-bottom: 1px solid #000;
        width: 75%;
        margin-top: 10px;
        margin-bottom: 50px;
    }
    .hero {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 90vh;
        background-color: #fff;
        position: relative;
        padding-left: 50px;
        padding-top: 50px;
    }
    .heroTxt1 {
        font-family: 'Quicksand';
        text-transform: capitalize;
        font-size: 96px;
    }
    .heroTxt2 {
        font-family: 'Press Start 2p';
        text-transform: capitalize;
        font-size: 120px;
    }
    .heroTxt3 {
        font-family: 'Quicksand';
        text-transform: capitalize;
        font-weight: lighter;
        font-size: 120px;
        margin-top: auto;
        /* animation: slideInOut 8s infinite linear; */
    }
    .me {
        position: absolute;
        bottom: 0;
        left: 40%;
        z-index: 1;
    }
    .meSection {
        background-color: #000;
        color: #fff;
        padding-top: 150px;
        padding-bottom: 150px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .meText1 {
        font-family: 'Quicksand';
        font-size: 48px;
        font-weight: normal;
    }
    .meText2 {
        font-family: 'Quicksand';
        font-size: 24px;
        font-weight: normal;
        text-align: justify;
    }
    .meBtn {
        background-color: #E7EDF1 !important;
        color: #000 !important;
        width: 250px;
        height: 250px;
        border: 1px solid #e7edf1 !important;
        border-radius: 50% !important;
        font-family: 'Quicksand' !important;
        font-size: 40px !important;
        text-transform: capitalize;
        margin-top: 50px;
    }
    .meBtn:hover, .meBtn:focus, .meBtn:active {
        background-image: url(/Users/bigsosa/Documents/portfolio1/front/src/Components/Images/picolo.jpeg);
        background-size: cover; 
        background-position: center;
        background-repeat: no-repeat; 
        border: 1px solid #E7EDF1;
        color: #fff !important;
    }
    .projectSection {
        padding: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .projects {
        width: 80%;
    }
    .Txt1 {
        font-family: 'Quicksand';
        font-size: 30px;
        color: #A8A8A8;
        align-self: flex-start;
        margin-bottom: 100px;
    }
    .Txt2 {
        font-family: 'Inter';
        font-size: 80px;
        font-weight: 600;
        color: #000;
        text-transform: uppercase;
    }
    .Txt3 {
        font-family: 'Inter';
        font-size: 20px;
        font-weight: 200;
        color: #000;
        margin-top: 50%;
    }
    .project {
        border-top: 1px solid #000;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .projectImage {
        width: 400px;
        height: auto;
        border: 2px solid #000;
        border-radius: 25px;
        object-fit: cover;
    }
    .hoverContainer {
        position: relative;
        width: 400px; 
        height: 400px;
        overflow: hidden;
    }
    .background {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .video {
        width: 100%;
        height: 100%;
        border: 2px solid #744EB3;
        border-radius: 25px;
        object-fit: cover;
        display: none;
    }  
    .hoverContainer:hover .projectImage {
        display: none;
    }
    .hoverContainer:hover .video {
        display: block;
    }
    .navLink {
        background-color: #fff !important;
        border: 2px solid #744EB3 !important;
        border-radius: 20px !important;
        margin-right: 50px;
        margin-bottom: 50px;
        color: #000 !important;
        font-family: 'Quicksand';
        font-size: 20px;
        text-transform: uppercase;
    }
    .navLink:active, .navLink:focus, .navLink:hover {
        background-color: #000 !important;
        color: #fff !important;
    }
    .whiteSection {
        height: 60vh;
        padding: 100px;
        display: flex;
        align-items: center;
    }
    .projTxt {
        color: #000;
        font-family: 'Quicksand';
        font-size: 64px;
        text-transform: uppercase;
        width: 50%;
    }
    .green {
        color: #0EAC00;
    }
    .purple {
        color: #935FC7;
    }
    .lighterPurple {
        color: #9E6DE0;
    }
    .slightlyDarkerPurple {
        color: #B36DE0;
    }
    .greenishColor {
        color: #6DE09E;
    }
    .bluishColor {
        color: #57b5fd;
    }
    .orangishColor {
        color: #ff892e;
    }
    .heroSection {
        height: 100vh;
        padding: 100px;
        display: flex;
        position: relative;
    }
    .planet {
        position: absolute;
        top: 30%;
        left: 50%;
        z-index: -1;
        transform: rotate(315deg);
        width: 600px;
    }
    .mePic {
        width: 500px;
        height: auto;
        border: 3px solid #744EB3;
        border-radius: 25px;
    }
    .paragraph {
        width: 400px;
    }
    .paragraphTxt {
        font-family: 'Quicksand';
        font-size: 18px;
        text-align: justify;
    }
    .section {
        margin: 100px;
    }
    .sectionHeader {
        font-family: 'Quicksand';
        font-size: 64px;
        font-weight: 200;
        text-transform: uppercase;
        padding: 5px;
        border-bottom: 1px solid #A66DE0;
        width: max-content;
        margin-bottom: 100px !important;
    }
    .sectionTxt1 {
        font-family: 'Quicksand';
        font-size: 36px;
        text-transform: uppercase;
        color: #a1a1a1;
    }
    .sectionTxt2 {
        font-family: 'Quicksand';
        font-size: 40px;
        text-transform: uppercase;
    }
    .sectionTxt3 {
        font-family: 'Quicksand';
        font-size: 15px;
        text-transform: uppercase;
        text-align: justify;
        width: 80%;
    }
    .servicePic {
        border: 2px solid #744EB3 !important;
        border-radius: 25px;
        width: 400px;
        height: auto;
    }
    .jsPill {
        background-color: #FFE603;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 12px;
        border: 2px solid #000;
        border-radius: 25px;
        width: 150px;
        margin-bottom: 50px;
    }
    .mongoPill {
        background-color: #65FF3E;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 12px;
        border: 2px solid #000;
        border-radius: 25px;
        width: 150px;
        margin-bottom: 50px;
    }
    .htmlPill {
        background-color: #F06529;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 12px;
        border: 2px solid #000;
        border-radius: 25px;
        width: 150px;
        margin-bottom: 50px;
    }
    .cssPill {
        background-color: #3C99DC;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 12px;
        border: 2px solid #000;
        border-radius: 25px;
        width: 150px;
        margin-bottom: 50px;
    }
    .reactPill {
        background-color: #61DBFB;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 12px;
        border: 2px solid #000;
        border-radius: 25px;
        width: 150px;
        margin-bottom: 50px;
    }
    .nodePill {
        background-color: #68A063;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 12px;
        border: 2px solid #000;
        border-radius: 25px;
        width: 150px;
        margin-bottom: 50px;
    }
    .skillPillTxt {
        font-family: 'Quicksand';
        font-size: 20px;
        font-weight: 600;
        text-transform: capitalize;
        margin: 0px;
    }
    .skills {
        width: 800px;
        display: flex;
    }
    .blackBg {
        background-color: #000;
        max-width: 100vw !important;
        margin: 0;
        padding-bottom: 100px;
    }
    .whiteBg {
        background-color: #fff;
        max-width: 100vw !important;
        margin: 0;
    }
    .contactHero{
        margin-left: 120px;
        margin-top: 100px !important;
        margin-bottom: 50px;
    }
    .contactTxtBox {
        padding-right: 250px !important;
    }
    .contactTxt1 {
        font-family: 'Quicksand';
        font-size: 64px;
        font-weight: 600;
        color: #fff;
    }
    .contactTxt2 {
        margin-top: 50px;
        margin-bottom: 15px;
        font-family: 'Quicksand';
        font-size: 20px;
        font-weight: 400;
        text-transform: capitalize;
        color: #b7b7b7;
    }
    .contactTxt3 {
        margin-bottom: 10px;
        font-family: 'Quicksand';
        font-size: 30px;
        font-weight: 400;
        color: #fff;
    }
    .contactPicBox {
        padding-left: 150px !important;
        border-left: 5px solid #fff;
        display: flex;
        align-items: center;
    }
    .contactPic {
        width: 250px;
    }
    .reachOutSection {
        padding: 100px;
    }
    .reachOutSectionHeader {
        font-family: 'Quicksand';
        font-size: 64px;
        font-weight: 400;
        color: #fff;
        text-transform: capitalize;
        margin-bottom: 100px;
    }
    .list {
        list-style-type: upper-roman;
        font-family: 'Quicksand';
        font-size: 20px;
        font-weight: 400;
        color: #616161;
    }
    .list2 {
        list-style-type: upper-roman;
        font-family: 'Quicksand';
        font-size: 20px;
        font-weight: 400;
        color: #fff;
    }
    .input {
        padding-left: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
        border-radius: 0;
        border-top: 1px solid #b7b7b7;
        border-bottom: 1px solid #b7b7b7;
        border-left: 0;
        border-right: 0;
    }
    .inputLabel {
        font-family: 'Quicksand';
        font-size: 30px;
        font-weight: 400;
        text-transform: capitalize;
        color: #fff;
    }
    .inputField {
        background-color: transparent !important;
        font-family: 'Quicksand';
        font-size: 25px !important;
        font-weight: 400;
        text-transform: capitalize;
        color: #b7b7b7 !important;
        text-transform: capitalize;
        border: 0 !important;
    }
    .inputField::placeholder {
        font-family: 'Quicksand';
        font-size: 25px;
        font-weight: 400;
        text-transform: capitalize;
        color: #616161 !important;
        text-transform: capitalize;
    }
    .inputField:active, .inputField:hover, .inputField:focus {
        background-color: transparent !important;
        color: #b7b7b7;
        border: 0px solid #935FC7 !important;
        outline: transparent !important;
        box-shadow: none !important;
    }
    .sendBtn {
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: space-around !important;
        background-color: transparent !important;
        width: 500px;
        margin-top: 50px;
        font-family: 'Quicksand' !important;
        font-size: 30px !important;
        font-weight: 400;
        text-transform: capitalize;
        border-radius: 0px !important;
        border-bottom: 1px solid #fff !important;
        border-top: 0 !important;
        border-left: 0 !important;
        border-right: 0 !important;
        padding-left: 50px !important;
    }
    .sendBtn:hover, .sendBtn:active, .sendBtn:focus {
        background-color: transparent !important;
        width: 500px;
        margin-top: 50px;
        font-size: 30px !important;
        font-weight: 400;
        text-transform: capitalize;
        border-radius: 0px !important;
        border-bottom: 1px solid #c891ff !important;
        border-top: 0 !important;
        border-left: 0 !important;
        border-right: 0 !important;
    }
    .projectHero {
        margin-left: 150px;
        margin-right: 150px;
        margin-bottom: 100px;
        padding-top: 100px;
        padding-bottom: 100px;
        border-bottom: 1px solid #CCCCCC;
    }
    .heroPic {
        width: 500px;
        height: 400px;
        object-fit: contain;
        border: 2px solid #000;
        border-radius: 25px;
    }
    .heroTxtBox {
        display: flex;
        flex-direction: column;
        align-items: center !important;
    }
    .heroText1 {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-family: 'Inter';
        font-size: 80px;
        font-weight: 600;
        color: #000;
        text-transform: uppercase;
    }
    .heroText2 {
        width: 400px;
        display: flex;
        flex-direction: column;
        align-items: flex-end !important;
        font-family: 'Quicksand';
        font-size: 20px;
        font-weight: 300;
        color: #000;
        text-align: justify;
    } 
    .tag {
        background-color: #fff !important;
        border: 2px solid #744EB3 !important;
        border-radius: 20px !important;
        margin-right: 30px;
        color: #000 !important;
        font-family: 'Quicksand';
        font-size: 20px;
        text-transform: uppercase;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        justify-content: center;
    }
    .tag:active, .tag:focus, .tag:hover {
        background-color: #000 !important;
        color: #fff !important;
    }
    .projectHeaderTxt {
        font-family: 'Quicksand';
        font-size: 32px;
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 50px;
        border-bottom: 1px solid #000;    
    }
    .projectBodyTxt {
        font-family: 'Quicksand';
        font-size: 20px;
        padding-left: 140px;
        padding-right: 140px;
        text-align: justify;
    }
    .projectBodyText {
        font-family: 'Quicksand';
        font-size: 20px;
        padding-left: 140px;
        padding-right: 140px;
        text-align: justify;
        margin-bottom: 100px;
    }
    .protoPic1 {
        width: 250px;
        height: 200px;
        object-fit: contain;
        border: 2px solid #000;
        border-radius: 25px;
    }
    .protoPic2 {
        width: 90px;
        height: 164px;
        object-fit: contain;
        border: 2px solid #000;
        border-radius: 15px;
    }
    .skittles {
        display: flex;
        justify-content: center;
        margin-top: 100px;
        margin-bottom: 100px;
        margin-left: 240px;
        margin-right: 240px;
    }
    .header {
        font-family: 'Quicksand';
        font-size: 40px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        color: #fff;
        margin-top: 100px;
        border-bottom: 1px solid #fff;
        width: max-content;
    }
    .wwdPic {
        width: 700px;
        height: 500px;
        object-fit: cover;
        border: 2px solid #000;
        border-radius: 25px;
    }
    .wwdheader {
        width: max-content;
        color: #fff;
        font-family: 'Quicksand';
        font-size: 20px;
        padding-left: 10px;
        padding-bottom: 5px;
        border-bottom: 1px solid #fff;
    }
    .wwdHeaderTxt {
        color: #fff;
        font-family: 'Quicksand';
        font-size: 16px;
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: 100px;
        margin-right: 100px;
        text-align: justify;
    }
    .wwlHeadersubTxt {
        color: #000;
        font-family: 'Quicksand';
        font-size: 16px;
        margin-bottom: 25px;
        margin-left: 150px;
        margin-right: 150px;
        text-align: justify;
    }
    .wwdTxt {
        color: #fff;
        font-family: 'Quicksand';
        font-size: 16px;
    }
    .wwdRow {
        margin-top: 100px !important;
        margin-left: 100px !important;
        margin-right: 100px !important;
    }
    .wwlHeaderTxt {
        font-family: 'Quicksand';
        font-size: 40px;
        padding-left: 20px;
        padding-right: 20px;
        border-bottom: 1px solid #000;
        margin-top: 100px;
        margin-bottom: 25px;
    }
    .wwlTxt {
        font-family: 'Quicksand';
        font-size: 24px;
        text-align: justify;
    }
    .wwlTxt1 {
        font-family: 'Quicksand';
        font-size: 30px;
        text-transform: uppercase;
    }
    .uList {
        list-style-type: '\2605';
        padding-bottom: 100px;
        margin-left: 150px;
        margin-right: 150px;
    }
    .projContainer {
        position: relative;
        width: 100%;
        height: 434px;
        overflow: hidden;
    }
    .projBg {
        position: absolute;
        width: 100%;
        height: 434px;
    }
    .wwdPic {
        width: 100%;
        height: 434px;
        border: 2px solid #000;
        border-radius: 25px;
        object-fit: cover;
    }
    .wwdVideo {
        width: 100%;
        height: 434px;
        border: 2px solid #744EB3;
        border-radius: 25px;
        object-fit: cover;
        display: none;
    }
    .projContainer:hover .wwdPic {
        display: none;
    }
    .projContainer:hover .wwdVideo {
        display: block;
    }
}
@media (max-width: 1024px) {

}
@media (max-width: 768px) {

}
@media (max-width: 425px) {

}